/* Element */
/* h1 {
    color: blue;
} */
/* Class */
/* .cool_ul {
    color: red;
} */
/* ID */
/* #my_id {
    color: green;
} */
/* Asterisk: This applies to EVERYTHING, good for troubleshooting */
/* * {
    border: 1px solid red;
} */
/* Descendant: For this ex, selects all anchor tags within li */
/* li a {
    background: orange;
} */
/* Adjacent: This targets the next tag after the init, so all ul's after h3 */
/* h3 + ul {
    border: 2px dotted green;
} */
/* N-th of Type: Picks the nth specific tag per level to customize */
/* li:nth-of-type(2) {
    background: green;
} */
/* Attribute */
/* a[href="https://www.coker.edu"] {
    background: green;
} */

/* Can use attribute on stuff like input[type="password"] or "radio" */
/* A general rule: The more general a selector is, the less priority it has. This isn't 100% though */
ul {
    color: green;
}

li {
    color: red;
}

.blue {
    color: blue;
}

#pink {
    color: pink;
}

/* Look up Specificity Calculator as a tool for this */