/*Element*/
/* h1 {
    color: yellowgreen;
    border: 5px dotted blue;
    border-radius: 10px;
} */

/* p {
    background: yellow;
} */

div {
    background: #bada55;
}

body {
    background: url(https://images.unsplash.com/photo-1546962339-5ff89552b8ed?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMGdyYWlufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

/*ID: Selecting one individual element to specifically customize*/
#header_1 {
    color: green;
}

#header_2 {
    color: blue;
}

/*Class: Used the most by far, can use the same var to attribute to multiple elements*/
.yellow_bg {
    background: yellow;
}

/* can also do rgb(0,0,0) and rgba(0,0,0, and any float 0-1 that acts as opacity) */
/* Border must have three properties: pixel, dotted/solid, color. Border-radius gives you rounded edges */